{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word Guesser</title>

    <link rel="stylesheet" href="{% static 'word_guesser/css/style.css' %}">
</head>
<body>
    <h1>Word Guesser</h1>

    <form action="{{ request.path }}" method="post" style="margin-bottom: 20px;">
        {% csrf_token %}
        <button type="submit" style="font-size:1em; padding:5px 20px;">New Game</button>
    </form>

    <div class="word_guesser" id="board"></div>

    <form id="guess-form" method="post" autocomplete="off">
        <input type="text" id="guess-input" maxlength="5" minlength="5" required pattern="[\p{L}]{5}" autofocus>
        <button type="submit">Guess</button>
    </form>

    <br>

    <div id="message"></div>

    {# Context variables #}
    <script>
      const maxGuesses = {{ max_guesses }};
      const guessUrl = "{% url 'guess' %}";
      console.log(guessUrl)
    </script>

    <script src="{% static 'word_guesser/js/word_guesser.js' %}"></script>
</body>
</html>
